<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">This website and its contents are copyright &copy; 2022 Agrim P Shiwakoti. All rights reserved.</h6>
    </nav>
  </footer>