<!-- *********************************************
 * Author: Agrim Shiwakoti
 * Student ID: 301209752
 * Date: 2022/10/21
 ********************************************** -->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
